/* 2373034 - Jesye Octavia Nainggolan */

table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid #98bf21;
}

th, td {
    padding: 4px;
    text-align: left;
}

th {
    background-color: #a7d129;
    color: white;
}

.changecolor {
    background-color: #dceea8;
}

td {
    background-color: #f8f9c5;
}

.footer {
    text-align: center;
    background-color: #a7d129;
    color: white;
}