/* 2373034-Jesye Octavia Nainggolan */
body {
    font-family: Arial, sans-serif;
    display: flex;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#tabelInput td {
    border: none;
    text-align: left;
}
